.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

  }
  
  input[type="text"] {
    padding: 15px;
    width: 50%;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 20px; 
  }
  
